.header {
  padding: 2em 1em;

  header {
    text-align: center;

    .logo {
      width: 160px;
    }

    .motto {
      font-size: .7em;
      margin: -1.1em 0 .5em;
    }
  }

  .nav-main {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  .search-form {
    margin: .3em 0 1.5em;
    position: relative;

    .text-wrapper {
      left: 0;
      position: absolute;
      right: 5.4em;
    }

    button {
      padding: .625em 1em;
      position: absolute;
      right: 0;
    }
  }
}
