.section-contact {
  background: $white;
  padding: 4em 1em;

  h1 {
    margin-bottom: 1.5em;
  }

  .container {
    @include outer-container;

    button {
      display: block;
      margin: 0 auto;
    }

    .email2 {
      display: none;
    }
  }
}
